:root {
    --colorTextos: #49454567;
}


*,/*Reduce el tamño generar el formulario*/
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto';
    background: linear-gradient(to right, #FF8235, #30E8BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    align-items: center;
    height: 750px;
    display: flex;
    justify-content: center;
  
}

.registro{
    text-align: center;
    font-weight: 700;
    color: #30E8BF;
}

.form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

.form .grupo{
    position: relative;
    margin: 45px ;
}

.input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



.input:focus{ 
    outline: none;
    color: rgb(41, 224, 224);;
}

.label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~.label,
input:valid~.label{
    top: -14px;
    font-size: 12px;
    color: rgba(35, 150, 150, 0.493);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #FF8235, #30E8BF);
    transition: 0.3s ease width;
    left: 0;
}

.input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color:#30E8BF ;
    padding-top: 20px;
}

.boton{
    font-family: "roboto";
    background: #30E8BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8235, #30E8BF);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}



@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}
